### Java ###
*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Spring Boot ###
# Compiled class file
/bin/
/build/

# Log file
*.log

# Ignore the project's local configuration (application-local.properties)
*local.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.bak
.idea_modules/

# IDEA directories
out/
target/

### Eclipse ###
*.pydevproject
.project
.metadata
.bin/
.tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Ignore Eclipse files
*.launch

# Ignore Mac OS X artifacts
.DS_Store