<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Skodunia | Wypożyczalnia ekskluzywnych samochodów</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/index" class="navbar-brand">Skodunia</a>
        </div>
    </div>
</section>

<div class="container h-100 d-flex flex-column">

    <section class="row h-25">

    </section>



    <section class="section-background">
        <div class="row flex-grow-1">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Nieprawidlowy e-mail lub haslo.</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-success">Zostales zalogowany.</div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Zaloguj się</h2>
                    </div>

                    <div class="card-body">
                        <form
                                method="post"
                                th:action="@{/login}"
                                class="form-horizontal"
                                role="form">

                            <div class="mb-3">
                                <label for="username" class="control-label">E-mail *</label>
                                <input type="text"
                                       id="username"
                                       name="username"
                                       class="form-control"
                                       placeholder="E-mail"/>
                            </div>


                            <div class="mb-3">
                                <label for="password" class="control-label">Haslo *</label>
                                <input type="password"
                                       id="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Haslo"
                                />
                            </div>

                            <div class="mb-3 col-md-offset-3">
                                <button type="submit" class="section-btn btn btn-primary btn-block res-btn">Zaloguj się</button>
                            </div>
                            <span class="text-left"><br> Nie masz konta?
                                <a th:href="@{/register}"> Zarejestruj się</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>