<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Skodunia | Wypożyczalnia ekskluzywnych samochodów</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

            <!-- lOGO TEXT HERE -->
                <a href="/index" class="navbar-brand">Skodunia</a>
            </div>
        </div>
    </section>

<div class="container h-100 d-flex flex-column">

    <section class="row h-25">

    </section>

    <section class="section-background">
        <div class="row flex-grow-1">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col">
                <div class="card">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've successfully registered
                            to our app!</div>
                    </div>
                        <div class="card-header">
                            <h2 class="text-center">Zarejestruj sie</h2>
                        </div>
                        <div class="card-body">
                            <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                                <div class="form-group mb-3">
                                    <label class="form-label">Imie</label>
                                    <input class="form-control"
                                           id="firstName"
                                           name="firstName"
                                           placeholder="Imie"
                                           th:field="*{firstName}"
                                           type="text"
                                    />
                                    <p th:errors="*{firstName}" class="text-danger"
                                       th:if="${#fields.hasErrors('firstName')}">
                                    </p>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Nazwisko</label>
                                    <input class="form-control"
                                           id="lastName"
                                           name="lastName"
                                           placeholder="Nazwisko"
                                           th:field="*{lastName}"
                                           type="text"
                                    />
                                    <p th:errors="*{lastName}" class="text-danger"
                                       th:if="${#fields.hasErrors('lastName')}">

                                    </p>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">E-mail</label>
                                    <input class="form-control"
                                           id="email"
                                           name="email"
                                           placeholder="E-mail"
                                           th:field="*{email}"
                                           type="email"
                                    />
                                    <p th:errors="*{email}" class="text-danger"
                                       th:if="${#fields.hasErrors('email')}">

                                    </p>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Haslo</label>
                                    <input class="form-control"
                                           id="password"
                                           name="password"
                                           placeholder="Haslo"
                                           th:field="*{password}"
                                           type="password"
                                    />
                                    <p th:errors="*{password}" class="text-danger"
                                       th:if="${#fields.hasErrors('password')}">
                                    </p>
                                </div>

                                <div class="mb-3 col-md-offset-3">
                                    <button class="section-btn btn btn-primary btn-block res-btn" type="submit">Zarejestruj sie</button>
                                </div>
                                <span class="text-left"><br> Masz juz konto?
                                    <a th:href="@{/login}"> Zaloguj sie</a>
                                </span>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>