<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

     <title>Skodunia | Wypożyczalnia ekskluzywnych samochodów</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
     <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
     <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
     <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/index" class="navbar-brand">Skodunia</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="/car/fleet">Samochody</a></li>
                         <li><a href="/about">O nas</a></li>
                         <li><a href="/contact">Kontakt</a></li>
                    </ul>
                    <div class="nav-btn">
                         <a class="section-btn btn btn-primary" role="button" href="/login">Zaloguj sie
                         </a>
                    </div>
               </div>
          </div>
     </section>

     <div class="imgbox">
     <img class="picture-fit" th:src="@{/images/{imageId}(imageId=${carImageId})}">
     </div>

     <section>
          <div class="container">
               <div class="text-center">
                    <h1 th:text="${carDetails.make + ' ' + carDetails.model}"/>
               </div>

               <div class="navbar-details-cars">
                    <ul>
                         <li><a href="#top"><img th:src="@{/image/up_arrow.png}"></a></li>
                         <li><a href="#description">Opis</a></li>
                         <li><a href="#specifications">Dane techniczne</a></li>
                         <li><a href="#gear">Wyposażenie</a></li>
                         <li><a href="#pictures">Galeria</a></li>
                         <li><a href="#price">Cennik</a></li>
                         <li><a th:href="@{/rental/panel/{id}(id=${carDetails.id})}">Zarezerwuj</a></li>
                    </ul>
               </div>

               <div id="description" class="description">
                    <h3>Opis</h3>

                    <p th:text="${carDetails.description}"/>

               </div>

               <div id="specifications" class="specifications">
                    <h3>Dane techniczne</h3>
                    <table>
                         <tr>
                              <td><strong>Moc</strong></td>
                              <td>510kM</td>
                         </tr>
                         <tr>
                              <td><strong>0-100</strong></td>
                              <td>3,4s</td>
                         </tr>
                         <tr>
                              <td><strong>Skrzynia</strong></td>
                              <td>Automatyczna</td>
                         </tr>
                         <tr>
                              <td><strong>Napęd</strong></td>
                              <td>Tylna oś</td>
                         </tr>
                         <tr>
                              <td><strong>Silnik</strong></td>
                              <td>4.0L</td>
                         </tr>
                    </table>
               </div>


               <div id="gear" class="gear">
                    <h3>Wyposażenie</h3>
                    <table>
                         <tr>
                              <td><strong>Kamera cofania</strong></td>
                              <td>Tak</td>
                         </tr>
                         <tr>
                              <td><strong>Dach z włókna węglowego</strong></td>
                              <td>Tak</td>
                         </tr>
                         <tr>
                              <td><strong>Nagłośnienie</strong></td>
                               <td>BOSE Surround Sound System</td>
                         </tr>
                         <tr>
                              <td><strong>Pakiet Light Design</strong></td>
                               <td>Tak</td>
                         </tr>
                         <tr>
                              <td><strong>Pakiet Clubsport</strong></td>
                              <td>Tak</td>
                         </tr>
                         <tr>
                              <td><strong>Układ podnoszenia przedniej osi</strong></td>
                              <td>Tak</td>
                         </tr>
                         <tr>
                              <td><strong>Reflektory</strong></td>
                              <td>Reflektory główne LED z wiązką matrycową oraz PDLS Plus</td>
                         </tr>
                         <tr>
                              <td><strong>Wnętrze</strong></td>
                              <td>Race-Tex / Włókno Węglowe</td>
                         </tr>
                     </table>
               </div>

               <div id="pictures" class="pictures">
                    <h3>Galeria zdjęć</h3>

                    <div class="imgbox">
                         <img class="picture-fit" th:src="@{/images/{imageId}(imageId=${carImageId})}"/>
                    </div>
               </div>


               <div id="price" class="price">

                    <h3>Cennik</h3>
                    <table>
                         <tr>
                              <td><strong>Okres najmu</strong></td>
                              <td th:text="${'Wynajem z kaucją (' + carDetails.pricePerDay * 10 + ' zł)'}"></td>
                         </tr>
                         <tr>
                              <td><strong>2-3 doby</strong></td>
                              <td th:text="${carDetails.pricePerDay * 1.5 + ' zł' + ' / doba'}"></td>
                         </tr>
                         <tr>
                              <td><strong>4-6 dób</strong></td>
                              <td th:text="${carDetails.pricePerDay * 1.4 + ' zł' + ' / doba'}"></td>
                         </tr>
                         <tr>
                              <td><strong>7-13 dób</strong></td>
                              <td th:text="${carDetails.pricePerDay * 1.3 + ' zł' + ' / doba'}"></td>
                         </tr>
                         <tr>
                              <td><strong>14-19 dób</strong></td>
                              <td th:text="${carDetails.pricePerDay * 1.2 + ' zł' + ' / doba'}"></td>
                         </tr>
                         <tr>
                              <td><strong>Miesiąc</strong></td>
                              <td th:text="${carDetails.pricePerDay * 30  + ' zł'}"></td>
                         </tr>
                    </table>
               </div>


           </div>
     </section>

     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Skodunia</h2>
                              </div>
                              <address>
                                   <p>Targ Drzewny 9/11 <br>80-894 Gdańsk</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#"><img th:src="@{/image/facebook.png}"></a></li>
                                   <li><a href="#"><img th:src="@{/image/instagram.png}"></a></li>
                                   <li><a href="#"><img th:src="@{/image/twitter.png}"></a></li>
                              </ul>

                              <div class="copyright-text">
                                   <p>Copyright &copy; 2024 Skodunia</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Dane Kontaktowe</h2>
                              </div>
                              <address>
                                   <p>+48 333 040 566</p>
                                   <p><a href="mailto:contact@company.com">skodunia@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Linki</h2>
                                   <ul>
                                        <li><a href="car/fleet">Samochody</a></li>
                                        <li><a href="/about">O nas</a></li>
                                        <li><a href="/contact">FAQ</a></li>
                                        <li><a href="/contact">Kontakt</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Podaj swój e-mail" name="email" id="email" required>
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Wyślij">
                                        </form>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>